{% extends 'base.html.twig' %}
{% block body %}

<a href="/list" role=button class="btn btn-default">Back to List</a>
<h2>Detail view of task #</h2>
<hr>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}



{% endblock %}